/* Hide scrollbar but still allow scroll */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */

  /* WebKit (Chrome, Safari) */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
